@import "https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap";

/*Criando variáveis no CSS*/
:root {
  --color-blue: #50a8fa;
}

*{
  /*para estilizar toda a pagina html usa essa tag *{} */
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #282a36;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

header{
  padding: 32px;
  border-bottom: 1px solid #333;
  background: rgba(0, 0, 0, 0.1);
}

/*combinação de seletores Ex: dentro do header que pegar todas as divs que
tiverem a tag a , usando literalmente a cascata, ido diretamente ao elemento
que quero alterar*/
.links  {
  text-align: center;
}

/*color sempre é usado para textos*/
.links a{
  color: white;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  text-decoration: none;
}

/*um outro tipo de seletor , usando :, pode abrir
muito mais opções , e é o que vamos usar , no caso o 
hover - para uma ação quando passar o mouse em cima*/
.links a:hover{
  color: var(--color-blue);
  transition: color 200ms;
}

/* Para pegar o Id usa #*/

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-blue);
  margin-bottom: 32px;
  height: 250px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 32px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 16px;
  opacity: 0.8;
}

#wrapper p {
  max-width: 500px;
  margin: 32px auto;
  font-size: 20px;
  line-height: 34px;
  margin-top: 8px;
}

#wrapper p a {
  color: var(--color-blue);
}

#wrapper p a:hover {
  opacity: 0.5;
}

#wrapper ul {
  font-size: 20px;
  font-weight: lighter;
}

#links-footer a {
  border-bottom: 1px solid var(--color-blue);
}